body {
  background-color: lavenderblush;
}

.recipe {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 60px;
  font-size: 50px;
}

.list a {
  text-decoration: none;
  color: black;
}

li {
  margin-bottom: 15px;
  font-size: 25px;
}
