body {
  background-color: lavenderblush;
}

.recipe {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

.list a:hover {
  text-decoration: none;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}
